html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: #ff8d85;
  font-family: "Dosis", sans-serif;
  background-image: url(waves.svg);
  background-size: cover;
}

.flex-container {
  display: flex;
  height: 100%;
  margin: 20px;
  flex-direction: row;
  align-items: center;
}

.timerVal {
  background-color: #c3f6ff;
  opacity: 0.65;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 30%;
  margin: 5px;
  text-align: center;
  font-size: 100px;
  border: 1px;
  border-style: none;
  border-radius: 5px;
}

.colon {
  width: 50%;
  margin-right: 0px;
  text-align: center;
  font-size: 70px;
}
